/* roboto-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v32-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/roboto-v32-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }



header {
    background-color: #fff;
    color: #24292e;
    padding: 16px;
    padding-bottom: 2px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: right;
}

body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background: linear-gradient(180deg, #9676e1, #1a0744); /* Gradient background */
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
    text-align: left;
}
header a {
    font-size: 1.3rem;
    color: #24292e;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}

.container {
    background-color: #c4c4c4;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-top: 10px;
}



@media (width > 45em) {
    
#Calculate {
    padding: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 2rem;
    border-radius: 10px;
    transition-duration: 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
}
}




#f1x {
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition-duration: 0.3s;
    margin-bottom: 10px;
    width: 300px;

    
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    padding: 12px 20px 12px 10px;
}
#f1x:hover {
    background-color: #e9e9e9;
    border: 1px solid #c9c8c8;
}

#f2x {
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition-duration: 0.3s;
    margin-bottom: 10px;
    width: 300px;

    
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    padding: 12px 20px 12px 10px;
}
#f2x:hover {
    background-color: #e9e9e9;
    border: 1px solid #c9c8c8;
}

#f3x {
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition-duration: 0.3s;
    margin-bottom: 10px;
    width: 300px;

    
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    padding: 12px 20px 12px 10px;
}
#f3x:hover {
    background-color: #e9e9e9;
    border: 1px solid #c9c8c8;
}

#f1y {
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition-duration: 0.3s;
    margin-bottom: 10px;
    width: 300px;

    
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    padding: 12px 20px 12px 10px;}
#f1y:hover {
    background-color: #e9e9e9;
    border: 1px solid #c9c8c8;
}

#f2y {
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition-duration: 0.3s;
    margin-bottom: 10px;
    width: 300px;

    
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    padding: 12px 20px 12px 10px;
}
#f2y:hover {
    background-color: #e9e9e9;
    border: 1px solid #c9c8c8;
}

#f3y {
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition-duration: 0.3s;
    margin-bottom: 10px;
    width: 300px;

    
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    padding: 12px 20px 12px 10px;
}
#f3y:hover {
    background-color: #e9e9e9;
    border: 1px solid #c9c8c8;
}



#Calculate {
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-size: 1.3rem;
    border-radius: 10px;
    transition-duration: 0.3s;
    margin-top: 10px;
    margin-bottom: 10px;
}
#Calculate:hover {
    background-color: #e9e9e9;
    border: 1px solid #c9c8c8;
}


#output {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    font-size: 1.3rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin-bottom: 10px;
    display: inline-block;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
h6 {
    font-size: 1.3rem;
    color: #24292e;
    text-decoration: none;
    background-color: #fff;
    margin-bottom: 0px;
}


footer {
    background-color: #fff;
    font-size: 1.3rem;
    color: #24292e;
    text-decoration: none;
    padding: 10px;
    position: relative;
    bottom: 0;
}
footer a{
    background-color: #fff;
    font-size: 1.3rem;
    color: #24292e;
    text-decoration: none;
    text-align: left;
}

footer h3{
    display: inline-block;
    text-align: right;
}
